body {
    margin: 0;
}


#lunch {
    color: #fa8808;
}

.container {
    margin: #fa8808;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 150px;
    background-color: #e0e0e0;
    padding: 20px;
}

.main-content {
    padding: 20px;
}

.selection {
    color: inherit;
    text-decoration: none;
}

.selection:hover {
    text-decoration: underline;
}